.ant-carousel .slick-prev,
.ant-carousel .slick-next {
    color: unset;
    font-size: unset;
}

.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover,
.ant-carousel .slick-prev:focus,
.ant-carousel .slick-next:focus {
    color: unset;
}
.ant-carousel .slick-next::before{
    content: none;
}
.ant-carousel .slick-prev::before{
    content: none;
}
.dark-theme-wrapper {
    background: transparent;
}
